node_modules
packages/frontend/node_modules
packages/backend/node_modules
!packages/backend/dist/.gitkeep
packages/backend/public/*
!packages/backend/public/.gitkeep
!packages/backend/public/assets
!packages/backend/public/index.html
!packages/backend/public/*.svg
naked-tees
hentai-gifs