@import "src/styles/colors";


.login-form-wrapper {
    position: relative;
    margin-bottom: 150px;

    &__header {
        color: $high-emphasis-text;
        font-size: 40px;
    }

    &__inner {
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.login-form {
    &__row {
        display: flex;

        &>:not(:first-child) {
            margin-left: 65px;
        }
    }

    &__remember-me {
        margin-top: 10px;
        color: $high-emphasis-text;

        span {
            margin-left: 10px;
        }
    }

    &__forgor-password {
        margin-top: 10px;
        display: block;
        color: $high-emphasis-text;
    }

    &__btn {
        margin-top: 35px;
    }
}