@import "src/styles/colors";

.create-event {
    color: $high-emphasis-text;

    &__title {
        font-size: 32px;
        margin: 0;
        padding: 25px 20px 0;
    }

    &__form {
        &-header {
            padding: 0 20px 0;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .input-with-label {
                max-width: 256px;
                width: 100%;
            }
        }

        &-title {
            font-size: 20px;
            margin: 20px 0 0;
        }

        &-subtitle {
            font-size: 14px;
            color: $medium-emphasis-text;
            margin: 5px 0 0;
        }

        &-place-wrapper {
            & > input:first-child {
                margin-top: 15px;
            }
        }

        &-description {
            margin-top: 20px;

            textarea {
                height: 130px;
                resize: none;
            }
        }

        &-footer {
            padding: 25px 20px;
            background: #1A1714;
            display: flex;
            margin-top: 25px;
            justify-content: space-between;
            border-radius: 0 0 10px 10px;
        }
    }

    &__add-end-event-data {
        display: flex;
        align-items: center;
        margin-top: 20px;

        input {
            appearance: none;
            width: 15px;
            height: 15px;
            background: rgba(0, 0, 0, .45);
            border-radius: 2px;

            &:checked {
                background: rgba(0, 0, 0, .45) url("src/assets/images/check-mark.png") no-repeat no-repeat center;
            }
        }

        label {
            margin-left: 10px;
            text-transform: uppercase;
            font-size: 12px;
        }
    }

}