.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__letter {
        width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__letter, img {
        border-radius: 50%;
        height: 100%;
    }
}