@import "src/styles/colors";

.modal-info {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 11;

    @keyframes fade-up {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    @keyframes fade-down {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__item {
        margin-top: 15px;
        animation: 1s fade-up 4s forwards, 1s fade-down;
        background: $brighter_1;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        min-width: 250px;

        &-icon {
            width: 30px;
            width: 40px;
        }

        &-text {
            margin: 0 0 0 10px;
            color: $high-emphasis-text;
        }
    }
}