@import "src/styles/colors";

.textarea-with-label {
    display: flex;
    flex-direction: column;

    &_active {
        background: #3C3225;
    }

    &__textarea {
        background: rgba(0, 0, 0, .25);
        border: 0;
        border-radius: 5px;
        padding: 12px 10px;
        outline: 0;
        color: $high-emphasis-text;
        margin-top: 5px;
    }

    &__label {
        font-size: 12px;
        text-transform: uppercase;

        & > span {
            color: $red;
        }
    }
}